body{font-family:"Segoe UI",Arial,sans-serif;}
th{text-align:left;}
form.cmxform{font-size:1.0em;color:#333;}
form.cmxform legend{padding-left:0;}
form.cmxform legend,
form.cmxform label{color:#333;}
form.cmxform fieldset p,
form.cmxform label.error,label.error{color:red;font-style:italic;padding-left:5px;}
div.error{display:none;}
input{border:1px solid black;}
input.checkbox{border:none}
input:focus{border:1px dotted black;}
input.error{border:1px dotted red;}
form.cmxform .gray *{color:gray;}